{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":0},"end":{"row":1,"column":10},"action":"remove","lines":["db.sqlite3"],"id":2},{"start":{"row":0,"column":10},"end":{"row":1,"column":0},"action":"remove","lines":["",""]}],[{"start":{"row":0,"column":10},"end":{"row":1,"column":0},"action":"remove","lines":["",""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":10},"end":{"row":0,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1534768463743,"hash":"907ac5e500f6286c18519bf943721af4c97e50d5"}