{"filter":false,"title":".gitignore","tooltip":"~/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":239.421875,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":15,"state":"start","mode":"ace/mode/ini"}},"timestamp":1534767959844,"hash":"4f497f69b437e0359b2bc4de9757955702307cbe"}